# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
.history/

# Eclipse
.project
.classpath
.settings/
bin/

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Environment files
.env

# Spring Boot
*.db
*.h2.db

# Test reports
surefire-reports/
test-classes/

# Others
*.swp
*.swo

# Node (por si usas frontend en el mismo